.showInfoTickedCard {
    &__bottom {
        display: flex;
        justify-content: space-between;

        @media (max-width: 400px) {
            flex-direction: column;
            justify-content: center;
        }

        & > button:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}
